<div class="bordercp-3 mt-4">

    <div class="row pb-2">
        <h2 class=" col-6 mb-2" style="font-size:40px; color:#9AC8CD;">My Profile</h2>
        <div class="col-6 text-end mb-2">

            <a class="btn text-light mx-1" [routerLink]="[ '/CustomerAddRequest' , customer.id]">Add New Request</a>
            <a class="btn text-light mx-1" [routerLink]="[ '/ViewCustomerRequest' , customer.id]">My Requests</a>
            <a class="btn text-light " [routerLink]="[ '/EditCustomerProfile', customer.id ]">Edit My Profile</a>
        </div>
        <hr />
    </div>

    <div class="row gutters-sm mt-5 " >
        <div class="col-md-4 mb-3 ">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                            width="150">
                        <div class="mt-3">
                            <h1>{{customer.firstName}} {{customer.middleName}} {{customer.lastName}}</h1>
                            <p class="text-secondary mb-1">{{customer.email}}</p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-8">
            <div class="card mb-3 p-2 shadow-sm ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h4 class="mb-0">Full Name</h4>
                        </div>
                        <p class="col-sm-9 text-secondary">{{customer.firstName}} {{customer.middleName}} {{customer.lastName}}</p>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h4 class="mb-0">Email</h4>
                        </div>
                        <p class="col-sm-9 text-secondary">{{customer.email}}</p>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h4 class="mb-0">Phone</h4>
                        </div>
                        <p class="col-sm-9 text-secondary">{{customer.phoneNumber}}</p>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h4 class="mb-0">Birthday</h4>
                        </div>
                        <p class="col-sm-9 text-secondary"> {{customer.birthDate }} </p>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-3">
                            <h4 class="mb-0">Gender</h4>
                        </div>
                        <p class="col-sm-9 text-secondary"> {{customer.gender}} </p>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>
<br>
<br>
<br>


<app-view-all-cars [selectedCustomerId]="customer.id"></app-view-all-cars>