<div class="bordercp-3 mt-4">
    <div class="row pb-2">
        <h2 class=" col-6 mb-2" style="font-size:40px; color:#9AC8CD;">Edit Profile</h2>
        <div class="col-6 text-end">
            <a class="btn text-light mb-2" style="background-color: #9AC8CD;"
                [routerLink]="['/ViewAllEmployeeComponent']">Back</a>
        </div>
        <hr />
    </div>

    <form [formGroup]="employeeGroup" (ngSubmit)="onSubmit()">

        <mat-form-field class="w-25">
          <mat-label>First Name</mat-label>
          <input matInput type="text" formControlName="firstName" >
        </mat-form-field>
    
        <mat-form-field class="w-25 m-1">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="lastName" >
        </mat-form-field><br>
    
        <mat-form-field class="w-25">
          <mat-label>Middle Name</mat-label>
          <input matInput type="text" formControlName="middleName" >
        </mat-form-field>
      
    
          <mat-form-field class="w-25 m-1">
            <mat-label>email</mat-label>
            <input matInput type="email" formControlName="email" >
          </mat-form-field><br>
    
          <mat-form-field class="w-25">
            <mat-label>Birth Date</mat-label>
            <input matInput type="Date" formControlName="birthDate" >
          </mat-form-field>
    
          <mat-form-field class="w-25 m-1">
            <mat-label>Phone Number</mat-label>
            <input matInput type="text" formControlName="phoneNumber" >
          </mat-form-field><br>

          <mat-form-field class="w-25">
            <mat-label>Salary</mat-label>
            <input matInput type="number" formControlName="salary" >
          </mat-form-field>
    
          <mat-form-field class="w-25 m-1">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" >
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
    
          <button mat-raised-button type="submit" color="warn">Save</button>
          <!-- <button mat-raised-button [routerLink]="['/ViewAllEmployeeComponent']" color="basic" class="mx-3">Back</button> -->
      </form>